{% extends "layout.html" %}

{% block title %}
    bill_meters
{% endblock %}

{% block main %}

<h1>Bill Meters</h1>

<p>Welcome to the bill management system. Here you can manage and view your bills.</p>

{% if first and second %}
    <p>The following section presents key indicators of energy consumption and billing across the two selected periods. This comparative analysis highlights variations in net usage, total billed amounts, and the average price per kilowatt-hour, providing a data-driven foundation for evaluating cost efficiency and consumption trends.</p>
    <h2>First period</h2>
    <ul>
        {% for item in first %}

        <li>Net Consumption (kWh): {{ item.Net_kWh_consumption }}</li>
        <li>Net Bills: {{ item.Sum_net_bill }}</li>
        <li>Average Price Promedio kWh: {{ item.average_price_kwh }}</li>

        {% endfor %}

    </ul>

    <h2>Second period</h2>
    <ul>
        {% for item in second %}

        <li>Net Consumption (kWh): {{ item.Net_kWh_consumption }}</li>
        <li>Net Bills: {{ item.Sum_net_bill }}</li>
        <li>Average Price: {{ item.average_price_kwh }}</li>

        {% endfor %}
    </ul>
    {% endif %}


    <a href="/bill_meter" class="btn btn-success">View all Bill</a>

    <div class="button-group">
        <button id="boton_bill_analysis" class="btn btn-secondary" style="margin-right: 10px;">Bill Analysis</button>
        <button id="boton_register_bill" class="btn btn-primary">Register Bill</button>
    </div>


    <!-- Tabla para mostrar los planes actuales -->
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Bill Number</th>
                <th>Bill Month</th>
                <th>Kwh consumption</th>
                <th>Net Bill</th>
                <th>Kwh Price</th>
                <th>Register Date</th>
            </tr>
        </thead>
        <tbody>
            {% for bill in bills %}
            <tr>
                <td>{{ bill.bill_date }}</td>
                <td>{{ bill.bill_number }}</td>
                <td>{{ bill.bill_month }}</td>
                <td>{{ bill.kWh_consumption }}</td>
                <td>{{ bill.net_bill }}</td>
                <td>{{ bill.kWh_price }}</td>
                <td>{{ bill.register_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal para Seleccionar dates -->
    <div id="bill_analysis" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Select details</h3>
            <form id="bill_analitics" method="POST" action="/bill_analitics">
                <p>Select two periods to compare your electricity consumption and billing.</p>
                <p>First Period.</p>
                <div class="mb-3">
                    <div class="mb-3">
                    {% if errors.date or errors.invalid_date %}
                        <p style="color: red;">{{ errors.date if errors.date else errors.invalid_date }}</p>
                    {% endif %}
                    <input autocomplete="off" class="form-control mx-auto w-auto" id="date_1" name="date_1" required type="date">
                    </div>
                    <div class="mb-3">
                    {% if errors.date or errors.invalid_date %}
                        <p style="color: red;">{{ errors.date if errors.date else errors.invalid_date }}</p>
                    {% endif %}
                    <input autocomplete="off" class="form-control mx-auto w-auto" id="date_2" name="date_2" required type="date">
                    </div>                  
                </div>
                <p>Second Period.</p>
                <div class="mb-3">
                    <div class="mb-3">
                    {% if errors.date or errors.invalid_date %}
                        <p style="color: red;">{{ errors.date if errors.date else errors.invalid_date }}</p>
                    {% endif %}
                    <input autocomplete="off" class="form-control mx-auto w-auto" id="date_3" name="date_3" required type="date">
                    </div>
                    <div class="mb-3">
                    {% if errors.date or errors.invalid_date %}
                        <p style="color: red;">{{ errors.date if errors.date else errors.invalid_date }}</p>
                    {% endif %}
                    <input autocomplete="off" class="form-control mx-auto w-auto" id="date_4" name="date_4" required type="date">
                    </div>                  
                </div>
                <button type="submit" class="btn btn-primary">Load</button>
            </form>
        </div>
    </div>


    <!-- Modal para Registrar Nuevo Plan -->
    <div id="registrar_bill" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Register New Bill</h3>
            <form id="register_bill" action="/register_bill" method="post">
                <div class="mb-3">
                    {% if errors.date or errors.invalid_date %}
                        <p style="color: red;">{{ errors.date if errors.date else errors.invalid_date }}</p>
                    {% endif %}
                    <input autocomplete="off" class="form-control mx-auto w-auto" id="date" name="date" required type="date">
                </div>
                <div class="mb-3">
                    {% if errors.bill_month or errors.bill_month_not_exist %}
                        <p style="color: red;">{{errors.bill_month if errors.bill_month else errors.bill_month_not_exist}}</p>
                    {% endif %}
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="bill_month" name="bill_month" required placeholder="Bill Month" type="text" oninput="capitalizeFirstLetter(this)" maxlength="14">
                </div>
                <div class="mb-3">
                    {% if errors.bill_number or errors.bill_number_not_exist %}
                        <p style="color: red;">{{errors.bill_number if errors.bill_number else errors.bill_number_not_exist}}</p>
                    {% endif %}
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="bill_number" name="bill_number" required placeholder="Bill Number" type="number" min="0" step="0.01">
                </div>
                <div class="mb-3">
                    {% if errors.kWh_consumption or errors.kWh_consumption_not_exist %}
                        <p style="color: red;">{{errors.kWh_consumption if errors.kWh_consumption else errors.kWh_consumption_not_exist}}</p>
                    {% endif %}
                    <input id="kWh_consumption" autocomplete="off" name="kWh_consumption" autofocus required type="number" maxlength="50" placeholder="kWh Consumption" class="form-control mx-auto w-auto" min="0" step="0.01">
                </div>
                <div class="mb-3">
                    {% if errors.net_bill or errors.net_bill_not_exist %}
                        <p style="color: red;">{{errors.net_bill if errors.net_bill else errors.net_bill_usage_not_exist}}</p>
                    {% endif %}
                    <input id="net_bill" name="net_bill" required type="number" autofocus autocomplete="off" placeholder="net_bill" maxlength="50" class="form-control mx-auto w-auto" min="0" step="0.01">
                </div>
                <div class="mb-3">
                    {% if errors.kWh_price or errors.kWh_price_not_valid %}
                        <p style="color: red;">{{errors.kWh_price if errors.kWh_price else errors.kWh_price_not_exist}}</p>
                    {% endif %}
                    <input id="kWh_price" name="kWh_price" placeholder="kWh Price" required type="number" autofocus autocomplete="off" maxlength="50" class="form-control mx-auto w-auto" min="0" step="0.01">
                </div>
                <button class="btn btn-primary" type="submit">Register</button>
            </form>
        </div>
    </div>

    <script src="scripts.js"></script>

    <script>

        document.addEventListener("DOMContentLoaded", () => {
    const modalToOpen = "{{ modal_to_open }}";

    const modals = {
        edit: document.getElementById("bill_analysis"),
        register: document.getElementById("registrar_bill")
    };

    if (modals[modalToOpen]) {
        modals[modalToOpen].style.display = "block";
    }

    
    const bill_analysis = document.getElementById("bill_analysis");
    const registrar_bill = document.getElementById("registrar_bill");

    const btnModificar = document.getElementById("boton_bill_analysis");
    const btnRegistrar = document.getElementById("boton_register_bill");

    btnModificar.addEventListener("click", () => bill_analysis.style.display = "block");
    btnRegistrar.addEventListener("click", () => registrar_bill.style.display = "block");

    document.querySelectorAll(".close").forEach(closeBtn => {
        closeBtn.addEventListener("click", () => {
            const modal = closeBtn.closest(".modal");
            if (modal) modal.style.display = "none";
        });
    });

    window.addEventListener("click", event => {
        if (event.target === bill_analysis) bill_analysis.style.display = "none";
        if (event.target === registrar_bill) registrar_bill.style.display = "none";
    });
});

    document.addEventListener("DOMContentLoaded", function() {
        var modalToOpen = "{{ modal_to_open }}";
        if (modalToOpen === "bill_analysis") {
            document.getElementById("bill_analysis").style.display = "block";
        }
        });

        document.addEventListener("DOMContentLoaded", () => {
            if (modalToOpen === "edit") {
                document.getElementById("bill_analysis").style.display = "block";
            } else if (modalToOpen === "register") {
                document.getElementById("registrar_bill").style.display = "block";
            }
         });

</script>


{% endblock %}