{% extends "layout.html" %}

{% block title %}
    electric_meter
{% endblock %}

{% block main %}

<h1>Electric Meters</h1>

{% if first and second %}
<h3>Comparative overview of energy consumption and billing:</h3>

<div class="card-section">
<div class="row">
    <div class="col">
        <div class="card">
            <h3>First Period</h3>
            <p><strong>Net Consumption:</strong> {{ first.Net_Consumption }} kWh</p>
            <p><strong>Net Days:</strong> {{ first.Net_Days }}</p>
            <p><strong>Avg. Consumption kWh by day:</strong> ${{ first.Average_Consumption }}</p>
            
        </div>
    </div>
    <div class="col">
        <div class="card">
            <h3>Second Period</h3>
            <p><strong>Net Consumption:</strong> {{ second.Net_Consumption }} kWh</p>
            <p><strong>Net Days:</strong> {{ second.Net_Days }}</p>
            <p><strong>Avg. Consumption kWh by day:</strong> ${{ second.Average_Consumption }}</p>
        </div>
    </div>
</div>
</div>
{% endif %}



    <a href="/electric_meter" class="btn btn-success btn-separator">View all Bill</a>

    <div class="button-group">
        <button id="boton_electric_analysis" class="btn btn-secondary" style="margin-right: 10px;">Electric consumption Analysis</button>
        <button id="boton_register_electric_consumption" class="btn btn-primary">Register electric consumption</button>
    </div>


    <!-- Tabla para mostrar los planes actuales -->
    <table class="table">
        <thead>
            <tr>
                <th>Date start</th>
                <th>Date end</th>
                <th>Description</th>
                <th>Kwh start</th>
                <th>Kwh end</th>
                <th>Net Kwh consumption</th>
            </tr>
        </thead>
        <tbody>
            {% for electric_c in electric_consumptions %}
            <tr>
                <td>{{ electric_c.date_start }}</td>
                <td>{{ electric_c.date_end }}</td>
                <td>{{ electric_c.month }}</td>
                <td>{{ electric_c.em_start }}</td>
                <td>{{ electric_c.em_end }}</td>
                <td>{{ electric_c.kWh_consumption }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal para Seleccionar dates -->
    <div id="electric_consumption_analysis" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Select details</h3>
            <form id="electric_consumption_analitics" method="POST" action="/electric_consumption_analitics">
                <p>Select two periods to compare your electricity consumption and billing.</p>
                <p>First Period.</p>
                <div class="mb-3">
                    <div class="mb-3">
                    {% if errors.date or errors.invalid_date %}
                        <p style="color: red;">{{ errors.date if errors.date else errors.invalid_date }}</p>
                    {% endif %}
                    <input autocomplete="off" class="form-control mx-auto w-auto" id="date_1" name="date_1" required type="date">
                    </div>
                    <div class="mb-3">
                    {% if errors.date or errors.invalid_date %}
                        <p style="color: red;">{{ errors.date if errors.date else errors.invalid_date }}</p>
                    {% endif %}
                    <input autocomplete="off" class="form-control mx-auto w-auto" id="date_2" name="date_2" required type="date">
                    </div>                  
                </div>
                <p>Second Period.</p>
                <div class="mb-3">
                    <div class="mb-3">
                    {% if errors.date or errors.invalid_date %}
                        <p style="color: red;">{{ errors.date if errors.date else errors.invalid_date }}</p>
                    {% endif %}
                    <input autocomplete="off" class="form-control mx-auto w-auto" id="date_3" name="date_3" required type="date">
                    </div>
                    <div class="mb-3">
                    {% if errors.date or errors.invalid_date %}
                        <p style="color: red;">{{ errors.date if errors.date else errors.invalid_date }}</p>
                    {% endif %}
                    <input autocomplete="off" class="form-control mx-auto w-auto" id="date_4" name="date_4" required type="date">
                    </div>                  
                </div>
                <button type="submit" class="btn btn-primary">Load</button>
            </form>
        </div>
    </div>


    <!-- Modal para Registrar Nuevo Plan -->
    <div id="registrar_electric_consumption" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Register Electric Consumption</h3>
            <form id="register_electric_consumption" action="/register_electric_consumption" method="post">
                <div class="mb-3">
                    {% if errors.date or errors.invalid_date %}
                        <p style="color: red;">{{ errors.date if errors.date else errors.invalid_date }}</p>
                    {% endif %}
                    <input autocomplete="off" class="form-control mx-auto w-auto" id="date_start" name="date_start" required type="date">
                </div>
                <div class="mb-3">
                    {% if errors.date or errors.invalid_date %}
                        <p style="color: red;">{{ errors.date if errors.date else errors.invalid_date }}</p>
                    {% endif %}
                    <input autocomplete="off" class="form-control mx-auto w-auto" id="date_end" name="date_end" required type="date">
                </div>
                <div class="mb-3">
                    {% if errors.bill_month or errors.bill_month_not_exist %}
                        <p style="color: red;">{{errors.bill_month if errors.bill_month else errors.bill_month_not_exist}}</p>
                    {% endif %}
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="month" name="month" required placeholder="Description" type="text" oninput="capitalizeFirstLetter(this)" maxlength="20">
                </div>
                <div class="mb-3">
                    {% if errors.em_start or errors.em_start_not_exist %}
                        <p style="color: red;">{{errors.em_start if errors.em_start else errors.em_start_not_exist}}</p>
                    {% endif %}
                    <input id="em_start" autocomplete="off" name="em_start" autofocus required type="number" maxlength="50" placeholder="kWh Start" class="form-control mx-auto w-auto" min="0" step="0.01">
                </div>
                <div class="mb-3">
                    {% if errors.em_end or errors.em_end_not_exist %}
                        <p style="color: red;">{{errors.em_end if errors.em_end else errors.em_end_not_exist}}</p>
                    {% endif %}
                    <input id="em_end" autocomplete="off" name="em_end" autofocus required type="number" maxlength="50" placeholder="kWh End" class="form-control mx-auto w-auto" min="0" step="0.01">
                </div>
                <button class="btn btn-primary" type="submit">Register</button>
            </form>
        </div>
    </div>

    <script src="scripts.js"></script>

    <script>

        document.addEventListener("DOMContentLoaded", () => {
    const modalToOpen = "{{ modal_to_open }}";

    const modals = {
        edit: document.getElementById("electric_consumption_analysis"),
        register: document.getElementById("registrar_electric_consumption")
    };

    if (modals[modalToOpen]) {
        modals[modalToOpen].style.display = "block";
    }

    
    const electric_consumption_analysis = document.getElementById("electric_consumption_analysis");
    const registrar_electric_consumption = document.getElementById("registrar_electric_consumption");

    const btnModificar = document.getElementById("boton_electric_analysis");
    const btnRegistrar = document.getElementById("boton_register_electric_consumption");

    btnModificar.addEventListener("click", () => electric_consumption_analysis.style.display = "block");
    btnRegistrar.addEventListener("click", () => registrar_electric_consumption.style.display = "block");

    document.querySelectorAll(".close").forEach(closeBtn => {
        closeBtn.addEventListener("click", () => {
            const modal = closeBtn.closest(".modal");
            if (modal) modal.style.display = "none";
        });
    });

    window.addEventListener("click", event => {
        if (event.target === electric_consumption_analysis) electric_consumption_analysis.style.display = "none";
        if (event.target === registrar_electric_consumption) registrar_electric_consumption.style.display = "none";
    });
});

    document.addEventListener("DOMContentLoaded", function() {
        var modalToOpen = "{{ modal_to_open }}";
        if (modalToOpen === "electric_consumption_analysis") {
            document.getElementById("electric_consumption_analysis").style.display = "block";
        }
        });

        document.addEventListener("DOMContentLoaded", () => {
            if (modalToOpen === "edit") {
                document.getElementById("electric_consumption_analysis").style.display = "block";
            } else if (modalToOpen === "register") {
                document.getElementById("registrar_electric_consumption").style.display = "block";
            }
         });

</script>


{% endblock %}