{% extends "layout.html" %}

{% block title %}
    income
{% endblock %}

{% block main %}

<h1>Income</h1>
    <form action="/income" method="post">
        <div class="mb-3">
            {% if errors.date or errors.invalid_date %}
            <p style="color: red;">{{ errors.date if errors.date else errors.invalid_date }}</p>
            {% endif %}
            <input autocomplete="off" class="form-control mx-auto w-auto" name="date" required type="date" >
        </div>

        <div class="mb-3">
            {% if errors.amount or errors.is_not_number %}
            <p style="color: red;">{{errors.amount if errors.amount else errors.is_not_number}}</p>
            {% endif %}
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="amount" required placeholder="amount" type="number" min="0" step="0.01"  >
        </div>

        <div class="mb-3">
            {% if errors.asset_accounts %}
            <p style="color: red;">{{errors.asset_accounts}}</p>
            {% endif %}
            <select class="form-select mx-auto w-auto" id="asset_accounts" name="asset_accounts" onchange="toggleNameField();">
                <option disabled selected>Assets</option>
                {% for assest in assets %}
                {% if assest['asset_accounts'] != "Payable" %}

                    <option value="{{ assest['asset_accounts'] }}">{{ assest['asset_accounts'] }}</option>


                    {% endif %}
                {% endfor %}

            </select>
        </div>

        <div class="mb-3">
            {% if errors.others_asset_accounts %}
            <p style="color: red;">{{errors.others_asset_accounts}}</p>
            {% endif %}
            <input autocomplete="off" class="form-control mx-auto w-auto" id="others_asset_accounts" name="others_asset_accounts" required placeholder="others asset accounts" type="text" disabled oninput="capitalizeFirstLetter(this)" maxlength="14">
        </div>

        <div class="mb-3">
            {% if errors.income_source_category %}
            <p style="color: red;">{{errors.income_source_category}}</p>
            {% endif %}
            <select class="form-select mx-auto w-auto" id="income_source_category" name="income_source_category" onchange="toggleNameField2()">
                <option disabled selected>Income source category</option>
                {% for category in categorys %}
                    {% if category['income_source_category'] != "N/A" %}

                    <option value="{{ category['income_source_category'] }}">{{ category['income_source_category'] }}</option>

                    {% endif %}
                {% endfor %}

            </select>
        </div>

        <div class="mb-3">
            {% if errors.others_income_source_category %}
            <p style="color: red;">{{errors.others_income_source_category}}</p>
            {% endif %}
            <input autocomplete="off" class="form-control mx-auto w-auto" id="others_income_source_category" name="others_income_source_category" required placeholder="others income source category" type="text" disabled oninput="capitalizeFirstLetter(this)" maxlength="14">
        </div>

        <div class="mb-3">
            {% if errors.receivable %}
            <p style="color: red;">{{errors.receivable}}</p>
            {% endif %}
            <select class="form-select mx-auto w-auto" id="receivable" name="receivable" onchange="toggleNameField3()" disabled>
                <option disabled selected>Receivable</option>
                {% for receivable in receivables %}
                    {% if receivable['receivable'] != "N/A" %}

                    <option value="{{ receivable['receivable'] }}">{{ receivable['receivable'] }}</option>

                    {% endif %}
                {% endfor %}

            </select>
        </div>

        <div class="mb-3">
            {% if errors.others_receivable %}
            <p style="color: red;">{{errors.others_receivable}}</p>
            {% endif %}
            <input autocomplete="off" class="form-control mx-auto w-auto" id="others_receivable" name="others_receivable" required placeholder="others receivable" type="text" disabled oninput="capitalizeFirstLetter(this)" maxlength="14">
        </div>

        <div class="mb-3">
            {% if errors.description %}
            <p style="color: red;">{{errors.description}}</p>
            {% endif %}
            <input autocomplete="off" class="form-control mx-auto w-auto" name="description" required placeholder="description" type="text" >
        </div>

        <button class="btn btn-primary" type="submit">Register</button>
    </form>

    <script>
        function toggleNameField() {
            const asset_accounts = document.getElementById("asset_accounts").value;
            const others_asset_accounts = document.getElementById("others_asset_accounts");
            const receivable = document.getElementById("receivable");
            others_asset_accounts.disabled = asset_accounts !== "Others";
            receivable.disabled = asset_accounts !== "Receivable";
          }

        function toggleNameField2() {
            const income_source_category = document.getElementById("income_source_category").value;
            const others_income_source_category = document.getElementById("others_income_source_category");
            others_income_source_category.disabled = income_source_category !== "Others";
          }

        function toggleNameField3() {
            const receivable = document.getElementById("receivable").value;
            const others_receivable = document.getElementById("others_receivable");
            others_receivable.disabled = receivable !== "Others";
          }

        function capitalizeFirstLetter(input) {
            let value = input.value;
            input.value = value.charAt(0).toUpperCase() + value.slice(1).toLowerCase();
            }

    </script>

{% endblock %}
